*{
  box-sizing: border-box;
  line-height: .7em;
}
.card-s{
  max-width:70%;
  margin: 0 auto;
  position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}
.card-s,.card{
  box-shadow: 0 0 .6em .1em grey,
              inset 0 0 .2em grey;
}
.card{
  border:none;
  cursor:pointer;
  
}

.img-fluid{
  border-radius: 50%;
  margin: 0 2em 0 6em;
  padding: 1em;
  width: 8em;
}
@media screen and (max-width:40em) {
  .card-s{
    max-width:100%;
  }
}
